@use '../variables' as *;
@use '../media' as *;

.filter {

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
  }

  &__form {
  }

  &__group {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    flex-wrap: wrap;    
    border: 1px solid red;
    

    &_choices {
      border: 1px solid green;
      column-gap: 64px;

      @include mobile {
        column-gap: 40px;
      }
    }
  }

  &__radio {
    appearance: none;          
    opacity: 0;  
    position: absolute;  

    &:checked+.filter__label {
      background-color: $light-orange;    
      color: $white; 
    }

    &:focus-visible+.filter__label {
      outline: 2px solid $orange;
      outline-offset: 3px;;
    } 
  }

  &__label {
    display: inline-flex;
    min-height: 72px;    
    align-items: center;
    color: $dark;
    border-radius: 300px;
    background-color: $white;
    background-size: 40px;
    background-position: center left 16px;
    background-repeat: no-repeat;    
    padding: 16px;
    padding-left: 60px;
    cursor: pointer;    

    @include mobile {      
      min-height: 40px;
      background-size: 24px;
      background-position: center left 12px;
      padding: 10px 12px 10px 40px;      
    }

    &_flowers {
      background-image: url("/img/bouquet.png");              
    }

    &_toys {
      background-image: url("/img/bear.png");
    }

    &_postcards {
      background-image: url("/img/postcard.png");      
    }

    &:hover {
      background-color: $orange;
    }
  }

  &__choices {
    border: 1px solid blue;
    position: relative;
  }

  &__select {
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;    

    &:after {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      background: url('/img/arrow.svg') no-repeat center/contain;      
    }
  }

  &__price {
    border: 1px solid orange;
    display: flex;
    gap: 8px;
  }

  &__choices-box {
    position: absolute;
    top: calc(100% + 20px);
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid red;
    border-radius: 12px;
    background-color: $white;
    padding: 24px;
  }

  &__input-price {
    border-radius: 32px;
    padding: 8px 16px;
    border: none;
    background-color: $bg;
    width: 110px;
    height: 40px;
  }

  &__type-list {


  }

  &__type-item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__type-button {
    white-space: nowrap;
  }

}


